@font-face {
    font-family: 'Inter'; 
    src: url('E:/projects/demo-site/Inter-Medium.otf') format('opentype'); 
}

body {
    width: 1920px;
    height: 1080px;
    top: -2453px;
    left: -10567px;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif; 
}

.page-header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.brand h1 {
    gap: 16px;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 14px 160px;
    border-bottom: 1px solid #EAECF0;
}

.brand a {
    padding-right: 40px;
    color: #0D1421;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.actions button {
    size: 24px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.title {
    padding-left: 16px;
    font-weight: 600;
    padding-right: 80px;
    font-size: 24px;
    line-height: 32px;
    color: #354153;
}

nav a:hover {
    color: #667085;
}

.first_button {
    padding-right: 8px;
    cursor: pointer;
}

.second_button {
    cursor: pointer;
}

.content img {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 420px;
    padding-left: 23px;
    padding-inline: 23px;
    padding-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: row; 
    padding: 14px 160px;
    width: 1600px;
    height: auto;
}

.content h2 {
    font-size: 18px;
    color: #0D1421;
    padding-left: 23px;
    padding-bottom: 16px;;
}

.item1 div {
    padding-left: 23px;
    font-size: 14px;
}

.item2 div {
    padding-left: 23px;
    font-size: 14px;
}

.item3 div {
    padding-left: 23px;
    font-size: 14px;
}

.item4 div {
    padding-left: 23px;
    font-size: 14px;
}

.colortext {
    color: #354153;
}

.brand-gap {
    padding-bottom: 8px;
}

.content {
    padding: 14px 160px;
    width: 1600px;
    height: 576px;
}

.select-table .table {
    border: none;
    font-size: 16px;
    color: #354153;
}

.select-table .dropdown {
    border: none;
    font-size: 16px;
    color: #354153;
    outline: none;
}

.select-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding-top: 32px;
    padding-bottom: 16px;
    width: 1600px;
    height: auto;
    padding-left: 145px;
    padding-right: 25px;
    outline: none;
}

.select-table select:focus {
    outline: none;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    color: #667085;
    font-size: 16px;
    width: 1600px;
    height: 24px;
    background-color: #FFFFFF; 
    padding-left: 160px;
    padding-bottom: 24px;
}

.dropdown-filter {
    position: relative;
    display: flex; 
    align-items: center; 
    width: auto;
    height: 40px;
    padding: 0 16px;
    gap: 8px; 
}

.dropdown-filter button {
    font-family: Inter;
    background-color: #FFFFFF;
    color: #354153;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-right: 8px;
}

.settings_button {
    padding-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.dropdown-content {
    color: #354153;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; 
    left: 0; 
}

.dropdown-content label {
    display: block;
    padding: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #FFFFFF;
}

.dropdown-filter:hover .dropdown-content {
    display: block;
}

.dropdown-filter:hover button {
    background-color: #FFFFFF;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none; 
}

select::-ms-expand {
    display: none;
}

select::-ms-expand {
    display: none;
}

.select-down_list {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    opacity: 0px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    width: 178px;
    height: 40px;
    padding: 8px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #F2F4F7;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #354153;
    gap: 8px;
}

.dropdown-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    width: 100%;
}

.dropdown-trigger p {
    text-align: right;
    width: 100%;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #F2F4F7;
    border-radius: 8px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.dropdown-item {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    color: #354153;
}

.dropdown-item:hover {
    background-color: #F2F4F7
}

.dropdown:hover .dropdown-list {
    display: block;
}

