@font-face {
  font-family: "Inter";
  src: url("./Inter-Medium.otf") format("opentype");
}

button {
  padding: 0px;
}

* {
  margin: 0px;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

main {
  width: 100%;
}

.clothes-types {
  display: flex;
  gap: 80px;
}

.clothes-types a:hover {
  color: #667085;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-expand {
  display: none;
}

.container {
  width: 100%;
  /*margin: 0 auto;*/
}

.page-header .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.brand h1 {
  gap: 16px;
  font-size: 24px;
}

.brand a {
  /*padding-right: 40px;*/
  color: #0d1421;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.variant-brand {
  display: flex;
  gap: 10px;
}

.title {
  /*padding-left: 16px;*/
  font-weight: 600;
  /*padding-right: 80px;*/
  font-size: 24px;
  /*line-height: 32px;*/
  color: #354153;
}

.actions button {
  size: 24px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions button:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eaecf0;
  padding: 2% 9.5% 2% 8%;
}

.select-table .table {
  border: none;
  font-size: 16px;
  color: #354153;
}

.select-table .dropdown {
  border: none;
  font-size: 16px;
  color: #354153;
  outline: none;
}

.select-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2% 11% 0% 8%;
}

.select-table select:focus {
  outline: none;
}

.dropdown-filter {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  padding: 0 16px;
  gap: 8px;
}

.dropdown-filter button {
  font-family: Inter;
  background-color: #ffffff;
  color: #354153;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding-right: 8px;
}

.dropdown-filter:hover .dropdown-content {
  display: block;
}

.dropdown-filter:hover button {
  background-color: #ffffff;
}

.settings_button {
  padding-left: 10px;
  width: 20px;
  height: 20px;
}

.dropdown-content {
  border-radius: 8px;
  color: #354153;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content label {
  border-radius: 8px;
  display: block;
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.dropdown-content label:hover {
  background-color: #ffffff;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  padding-left: 20px;
  gap: 8px;
}

.dropdown button {
  font-family: Inter;
  background-color: #ffffff;
  color: #354153;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: right;
}

.dropdown-list {
  padding: 5px;
  border-radius: 8px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: 0%;
}

.dropdown-list option {
  border-radius: 8px;
  display: block;
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.dropdown-list option:hover {
  border-radius: 8px;
  background-color: #f2f4f7;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown:hover button {
  background-color: #ffffff;
}

.content {
  /* width: 100%; */
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 25px;
  padding: 2% 12% 0% 10%;
  justify-content: space-between;
}

.content h2 {
  font-size: 18px;
  color: #0d1421;
  padding-bottom: 16px;
}

.item {
  width: auto;
  font-size: 14px;
}

.item > img {
  width: 100%;
  height: auto;
  padding-bottom: 8px;
}

.brand-gap {
  padding-bottom: 8px;
}

.colortext {
  color: #354153;
}

.footer-block {
  /* width: 1600px; */
  padding-left: 7%;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 150px;
  margin-bottom: 25px;
}

.copyright {
  color: #667085;
}

@media (max-width: 1280px) {
  .content {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    /*padding: 2% 9% 0 7%;*/
  }
}

@media (max-width: 1200px) {
  .content {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    /*padding: 2% 8% 0% 11%;*/
  }

  .clothes-types {
    display: flex;
    gap: 30px;
  }

  .page-header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 740px) {
  .content {
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    padding: 0px;
    width: 90%;
    margin: 0 auto;
  }

  .clothes-types {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }

  header {
    display: flex;
    /* justify-content: space-between; */
    padding: 20px 0;
    border-bottom: 1px solid #eaecf0;
    padding: 2% 9% 2% 9%;
  }

  .select-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    justify-content: space-around;
  }

  .page-header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }

  .page-header {
    flex-direction: column;
  }

  .actions {
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: center;
  }

  .dropdown-filter {
    padding: 0px;
  }

  .dropdown {
    padding-left: 0px;
  }
}
